.card-row {
    margin-left: 20px;
    color: #fff;
}

.cards {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
       
}

.cards::-webkit-scrollbar{
    display: none;
}


.card {
    max-height: 200px;
    margin-right: 10px;    
}

.card-hover:hover{
    transform: scale(1.2)
}

.card-sm {
    max-height: 100px;
    margin-right: 10px;
}

.card-title {
    text-align: center;
    color: gray;    
}

.card-title:hover {
    color: red;
    cursor: pointer;
}
